body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}  

.container {
     width: 1280px;
      margin: 0 auto;
}

.main_header {
    width: 100%;
    background-color: #445162;
    padding:50px;
    box-sizing:border-box;
    color:white;
    
}
.main_header:after {
    content: "";
    display: block;
    width:100%;
    clear:both;
}
.main_header_wrp {
    width: 460px;
    float:left;
}

.main_header_title {
    margin:0 0 0 0;
    font-size: 60px;
    font-weight: 400;
}
.main_header_list {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin:50px 0 0 0;
    
}
.main_header_item {
     margin:0 0 0 45px;
     list-style-type: none;
     position:relative;
     line-height:36px;
}
.main_header_item:before {
    content:"";
    display:block;
    width: 25px;
    height: 19px;
    position:absolute;
    top:8px;
    left:-40px;
    background-image: url(../img/check_icon.png);
}
.main_header_img {
    display: block;
    width: 469px;
    min-height: 214px;
    background-color: white;
    float:right;
}
.about {
    width: 100%;
    padding:50px;
    box-sizing:border-box;
}
.about:after {
    content: "";
    display: block;
    width:100%;
    clear:both;
}
.about_text {
    width: 659px;
    float:left;
    color: #445161;
}
.about_title {
    margin:0 0 30px 0;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;  
}

.about_video {
    background-color: #445161;
    float:right;
}
.dignity {
     width: 100%;
     padding: 50px;
     background-color: #f5f5f5;
     box-sizing: border-box;
}
.dignity:after {
      content: "";
      display: block;
      width: 100%;
      clear: both;
}
.dignity_title {
    display: block;
    margin: 0 0 30px 0;
    text-align: center;
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    line-height: 1.2;
}
.dignity_list {
  width: 540px;
  margin: 0 0 0 46px;
  list-style-type: none;
  float: left;
}

.dignity_list:last-child{
  float: right;
}

.dignity_list_item {
  margin: 0 0 35px 0;
  position: relative;
}

.dignity_list_item:nth-child(3) {
  margin: 0;
}
.dignity_list_item:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  font-size: 38px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 4px;
  left: -46px;
}

.screenshots {
  width: 100%;
  min-height: 487px;
  padding: 50px;
  box-sizing: border-box;
}

.screenshots:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.screen_title  {
  margin: 0;
  width: 100%;
  text-align:center;
  color: #445161;
  font-family: "Arial";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom:35px;
}

.screen_item {
  width: 574px;
  padding: 0;
  margin: 0 0 30px 0;
  box-sizing: border-box;

}

.screen_item:nth-child(2n+1) {
 float:right;
}
.screen_item:nth-child(2n) {
 float:left;
}
.screen_item:nth-child(4),
.screen_item:nth-child(5) {
  margin-bottom:0;
}
.screen_item:after {
    content: "";
      display: block;
      width: 100%;
      clear: both;
}

.screen_img {
  background-color: #445161;
  width: 200px;
  height: 150px;
  background-color: #445161;
  display: block;
  float:left;
}
.screen_item_cap {
  float:left;
  margin:0 0 0 13px;
}

.screen_item_title {
  color: #445161;
  font-family: "Arial";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 5px 0;
}
.screen_item_p {
  color: #333333;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 359px;
  margin: 0;
}

.reviews {
  width: 100%;
  background-color: #f5f5f5;
  min-height: 424px;
  margin:0;
  padding:50px;
  box-sizing: border-box;
}
.reviews:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.reviews_title {
  margin: 0;
  width: 100%;
  text-align:center;
  color: #445161;
  font-family: "Arial";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom:35px;
}
.reviews_item {
  width: 574px;
  margin: 0 0 30px 0;
  padding: 0;
  min-height: 121px;
}
.reviews_item:nth-child(2n) {
  float:left;
}
.reviews_item:nth-child(2n+1){
float:right;
}
.reviews_item:nth-child(4),
.reviews_item:nth-child(5) {
margin:0;
}
.reviews_item:after {
    content: "";
      display: block;
      width: 100%;
      clear: both;
}
.reviews_img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #445161;
  display:block;
  float:left;
}
.reviews_item_cap {
  width: 460px;
  height: 121px;
  display:block;
  margin-left:105px;
  background-color:#ebebeb;
  border-radius: 3px;
  position: absolute;

}
.reviews_item_cap:before {
  content: "";
  display: block;
  width: 20px;
  border: 15px solid transparent; 
  border-right: 15px solid #ebebeb;
  position: absolute;
  top: 25px;
  left: -27px;
}
.reviews_item_block {
  margin:14px 0 5px 24px;
  display:block;
  width: 425px;
  color: #333333;
  font-family: "Arial - Italic";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.reviews_item_cite {
  margin-left:24px;
  color: #989898;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.buyit {
  min-height: 656px;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  margin: 0;
}
.buyit_title {
  width: 100%;
  text-align:center;
  color: #445161;
  font-family: "Arial";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom:30px;
}
.flex {
  display:flex;
  align-items: flex-end;
  justify-content: center;
}
.buyit_item {
  width: 300px;
  background-color: #445162;
  border-radius: 6px;
  margin-right: 45px;
}
.buyit_item:last-child {
   margin-right: 0;
}

.buyit_item_title {
  display:block;
  width:100%;
  text-align: center;
  color: white;
  font-family: "Arial";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  min-height: 51px;
  margin:0;
  padding-top:10px;
  box-sizing: border-box;
  
}
.buyitem_item_price {
  display:block;
  width:100%;
  text-align: center;
  background-color:white;
  color: #445161;
  font-family: "Arial";
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  padding:18px 0 18px 0;
  min-height: 71px
  box-sizing: border-box;
}
.buyitem_list {
  width: 290px;
  list-style-type: none;
  color: #ffffff;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding:15px 0 15px 20px;
}
.buyitem_list_item {
  padding: 0;
}
.buyitem_form {
  display:block;
  width: 100%;
  text-align: center;
  margin-top:15;
  padding-bottom:20px;
}
.buyitem_button {
  outline: none;
  width: 260px;
  height: 40px;
  background-color: #ffffff;
  color: #445161;
  font-family: "Arial";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  border:0;
}
.buyitem_button:hover {
  background-color: gray;
  color: white;
}

.buyitem_button:active {
  background-color:  #ffffff;
  color:  #445162;
}

.main_footer {
  padding:50px;
  width: 100%;
  min-height: 509px;
  background-color: #445162;
  box-sizing: border-box;
}

.footer_title {
  color:white;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: "Arial";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom:31px;
}
.footer_flex {
  display:flex; 
}
.footer_form {
  width: 500px;
  padding:0 45px 0 200px;
}
.footer_input {
  outline:none;
  display:block;
  width: 490px;
  min-height: 40px;
  color: #445162;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding:0 0 0 10px;
  border:0;
  margin-bottom:21px;
  border-radius: 5px;
}
.footer_input::-webkit-input-placeholder 
{ color: #445162; }

.footer_input_text {
  min-height:170px;
  vertical-align: top;
}

input[placeholder],
textarea[placeholder] {
  text-overflow:ellipsis;
  font-family: Arial;
  color:  #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}  

.footer_input:hover {
  background-color: gray;
  color: white;
}
.footer_form_submit {
  outline: none;
  display:block;
  width: 140px;
  height: 40px;
  background-color: #ffffff;
  color: #445162;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-left:180px;
  border:0;
  padding: 0;
}
.footer_form_submit:hover {
  background-color: gray;
  color: white;
}

.footer_form_submit:active {
  background-color:  #ffffff;
  color:  #445162;
}

.footer_mess {
  margin: 0;
  padding: 0;
  margin-left: 264px;
  color: #ffffff;
  font-family: "Arial";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.footer_mess_info_teg {
  margin-bottom:20px;
  position:relative;
  display:block;
}
.skype:before {
    content:"";
    display:block;
    width: 24px;
    height: 26px;
    position:absolute;
    background-image: url(../img/skype_icon.png);
    left:-32px;
}

.icq:before {
    content:"";
    display:block;
    width: 26px;
    height: 26px;
    position:absolute;
    background-image: url(../img/icq_icon.png);
    left:-32px;
}
.email:before {
    content:"";
    display:block;
    width: 22px;
    height: 22px;
    position:absolute;
    background-image: url(../img/email_icon.png);
    left:-32px;
}
.tel:before {
    content:"";
    display:block;
    width: 24px;
    height: 23px;
    position:absolute;
    background-image: url(../img/phone_icon.png);
    left:-32px;
}
.social {
  margin:40px 0 0 -30px;
  display:flex;
  width: 240px;

}
.social_icon {
  display: block;
  width: 50px;
  height: 42px;
  background-image: url(../img/social_buttons.png);
}

.social_icon:nth-child(2) {
  background-position: -48px 0px;
}
.social_icon:nth-child(3) {
  background-position: -97px 0px;
}
.social_icon:nth-child(4) {
  background-position: -147px 0px;
}
.social_icon:last-child {
  background-position: -193px 0px;
}
.footer_aside {
  width: 100%;
  text-align: center;
  min-height: 26px;
  color: #445162;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  background-color: #f5f5f5;
}